<!-- <mat-toolbar color="primary">
  <div>
    <a> LOGO</a>
  </div>

  <div fxFlex fxLayout>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li>

        <button mat-button [matMenuTriggerFor]="masters">Masters</button>

        <mat-menu #masters="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span class="nav-caption">Ward</span>
          </button>
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span class="nav-caption">Area</span>
          </button>
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span class="nav-caption">Building</span>
          </button>
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span class="nav-caption">Flat</span>
          </button>
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span class="nav-caption">Members</span>
          </button>
        </mat-menu>

      </li>
    </ul>
  </div>
</mat-toolbar> -->


<mat-sidenav-container>

  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list></app-sidenav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header (sideNavToggle)="sidenav.toggle()" >      
    </app-header>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>
